
body{
    margin: 0 auto;
    padding: 0;
}


.r_nav{
    width: 100%;
    min-height: 130px;
    float: left;
  
    
}

.nav_logo{
    width: 100%;
    min-height: 130px;
    float: left;
    
}

.nav_img{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background: #6C5DD3;
    height: 50px;
    width: 50px;
    margin-top: 39px;
}

.nav_img img{
    width: 30px;
    height: 30px;
}

.nav_text{
    width: 65%;
    min-height: 130px;
    float: left;
    
   
}

.nav_text h4{
    color: #11142D;
    font-weight: bold;
    margin-top: 44px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.nav_text p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #11142D;
    margin-left: 15px;
}

.nav_menu{
    width: 100%;
    min-height: 130px;
    float: left;
    
   
}

.nav_menu .inp span{
    color: #6C5DD3;
    background:#F0EEFF;
}




.nav_menu .icon{
    margin-right: 8px;
    
}

.nav_menu .icon_2{
    margin-left: 4px;
    
}

.inp {
    height: 46px;
    margin-top: 44px;
    
}

.inp_2{
    border: 1px solid #E1E1E1;
    border-radius: 10px 0px 0px 10px;
    
}

#email{
    height: 46px;
}

.inp_3{
    border: 1px solid #E1E1E1;
border-radius: 0px 14px 14px 0px;

}

.nav_btn{
    width: 100%;
    min-height: 130px;
    float: left;
   
    
}

.r_buttons{
    width: 100%;
    height: 130px;
    float: left;
    margin-left: 70px;
    display: flex;
    align-items: center;
    align-content: center;
}

.nav_btn .btn_2 {
    margin-left: 15px;
   margin-bottom: 50px;
   width: 100px;
}




.nav_btn .btn_2{
    margin-top: 50px;
    /* Primary */

    background: #6C5DD3;
    /* Shadow-02 */

    box-shadow: 0px 25px 33px rgba(108, 93, 211, 0.25);
    border-radius: 14px;

    box-sizing: border-box;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 34px;
    /* identical to box height */


    /* White */

    color: #FFFFFF;


}



.nav_btn .btn_1{
    background: #F0EEFF;
    border-radius: 14px;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 34px;
    /* identical to box height */


    /* Primary */

    color: #6C5DD3;
}


.main{
    margin-top: 30px;
}

.main_1{
    width: 100%;
    height: 550px;
    float: left;
    background-image: url("../img/Mask\ Group.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}


.main_info{
    width: 100%;
    height: 434px;
    float: left;
   
    padding: 68px;
    box-sizing: border-box;
}


.main_btn{
    width: 100%;
    height: 150px;
    float: left;
    background: yellow;
}

.main_info .school{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 34px;
    letter-spacing: 4px;

    color: #6C5DD3;
}


.main_info h1{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 112px;
    margin-top: -20px;
    color: #11142D;

}

.main_info h3{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 75px;
    margin-top: -40px;
    /* DarkPurple */

    color: #11142D;

}


.main_info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    /* DarkPurple */
   
    color: #11142D;

}

.main_info .btn_1{
    background: #6C5DD3;
/* Shadow-02 */

box-shadow: 0px 25px 33px rgba(108, 93, 211, 0.25);
border-radius: 14px;

font-family: 'Cairo';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 24px;
margin-top: 20px;
margin-right: 20px;

color: #FFFFFF;

}

.main_info .btn_2{
    border: 1px solid #AAAAAA;
    border-radius: 14px;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    margin-top: 20px;
    /* DarkPurple */

    color: #11142D;

}

.main_info .btn_1 i{
    margin-left: 15px;
}


.main_2{
    width: 100%;
    height: 550px;
    float: left;
   background:  #9C9C9C;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
     align-items: center;
    text-align: center
}

.main_2 h4{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 90px;
    text-align: center;
    margin-top: 20px;
    /* White */

    color: #FFFFFF;

}


.main_2 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: -25px;
    /* White */

    color: #FFFFFF;
}

.box{
    height: 200.9115295410156px;
    width: 156px;
    border-radius: 14px;
    background: #C4C4C4;
    border: 2px solid #FFFFFF;
    /* Shadow-03 */
    margin-top: 30px;
    
    box-shadow: 0px 25px 33px rgba(255, 255, 255, 0.25);
    border-radius: 14px;

}

.text_2 h5{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    
    margin-top: 15px;
    color: #FFFFFF;
}

.text_2 .adventure{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: -10px;
    color: rgba(255, 255, 255, 0.6);
    }

    .btn_3{
        background: #FFFFFF;
    border-radius: 14px;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
        margin-top: 15px;
    color: #11142D;

    }

    .btn_3 span{
        font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    text-decoration-line: line-through;

    /* Grey-01 */

    color: #AAAAAA;
    margin-right: 10px;
        
    }

    .main_back{
        width: 100%;
        height: 100px;
        float: left;
        margin-top: 50px;
        
    }
    

    .icons_1{
        width:100%;
        height: 100px;
        float: left;
        
        
    }

    .icons_1 .logo{
        width: 24%;
        height: 90px;
        float: left;
        
        
        display: flex;
        justify-content: center;
        align-content: center; 
        

    }

    .icons_1 .logo i{
        color: #6C5DD3;
        font-size:30px;
        margin-top: 25px;
        width: 100px;
        height: 50px;
        
        display: flex;
        justify-content: center;
        align-content: center; 
        align-items: center;
        margin-right: 20px;
        background: #F0EEFF;
        border-radius: 14px;
    }

    .icons_1 h5{
        font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* or 120% */
    margin-top: 20px;
    


    /* DarkPurple */

    color: #11142D;

    }

    .icons_1 p{
        font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
        margin-top: -10px;
    /* Grey-01 */
   
    color: #AAAAAA;

    }


    .footer_1 ,.footer_2{
        width:100% ;
        height: 280px;
        float: left;
        
        
    border-radius: 14px;
        margin-top: 70px;
    }


    .box_1{
        width: 20%;
        height: 130px;
        background: green;
        float: left;
        background: #C4C4C4;
        margin-left: 20px;
        margin-right: 20px;
            margin-top: 10px;
        border: 4px solid #FFFFFF;
        border-radius: 14px;

        
    }

    .footer_1 h4{
        font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 67px;
        margin-left: 50px;
        
    /* DarkPurple */

    color: #11142D;

    }

    .footer_1 p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin-left: 50px;
        /* DarkPurple */
        margin-top: -10px;
        color: #11142D;
    }


   
    .footer_2 h4{
        font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 67px;
        margin-left: 50px;
        
    /* DarkPurple */

    color: #11142D;

    }

    .footer_2 p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin-left: 50px;
        /* DarkPurple */
        margin-top: -10px;
        color: #11142D;
    }

    .back{
        width: 100%;
        height: 150px;
        background: green;
        float: left;
    }

    .cards{
        display: flex;
        justify-content: space-between;
    }

    .footer_1{
        background-image: url("../img/Mask\ Group_1.png");
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow: 0px 25px 33px rgba(108, 93, 211, 0.25);
        border-radius: 14px;
    }

    .footer_2{
        background-image: url("../img/Mask\ Group_2.png");
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow: 0px 25px 33px rgba(108, 93, 211, 0.25);
        border-radius: 14px;
    }


    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav_text{
        display: none;
    }

    .main_back{
        margin-top: 10px;
    }

    .r_buttons .btn_2 {
        display: none;
    }
   
    .r_nav{
        width: 80%;
    }

   .r_buttons .btn_1{
    margin-left: 25px;
    margin-top: 4px;
   }

   .inp{
    margin-left: -10px;
   }

   #email{
    width: 130px;
    
   }
}

